<nav class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <header class="navbar navbar-default navbar-fixed-top">

    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
      </div>
      <div class="modal-body">
        <ul>
          <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
          </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </script>

    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#xs-navbar-collapse" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="#">Usergrid Demo</a>
        </div>
        <nav class="hidden-xs">
          <ul class="nav navbar-nav">
            <a href="#/" role="button" class="navbar-brand">
              Usergrid Demo
            </a>
            <li class="dropdown" dropdown ng-show="loggedIn() && !hasRole('sysadmin')">
              <a role="button" class="dropdown-toggle" dropdown-toggle>
                User <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#login" ng-show="!loggedIn()">Login</a></li>
                <li><a href="#eventList">Show Events</a></li>
              </ul>
            </li>

            <li class="dropdown" dropdown ng-show="loggedIn() && (hasRole('admin') || hasRole('sysadmin'))">
              <a role="button" class="dropdown-toggle" dropdown-toggle>
                Admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#users">List Users</a></li>
                <li><a href="#users/create">Create User</a></li>
                <li><a href="#users/import">Import Users</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#eventList">List Events</a></li>
                <li><a href="#eventList">Create Event</a></li>
              </ul>
            </li>
            <li class="dropdown" dropdown ng-show="loggedIn() && hasRole('sysadmin')">
              <a role="button" class="dropdown-toggle" dropdown-toggle>
                SysAdmin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#orgList">List Orgs</a></li>
                <li><a href="#appCreate">Create App</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <nav class="visible-xs" collapse="!isCollapsed">
          <ul class="nav navbar-nav">
            <li><a href="#">Getting started</a></li>
            <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
          </ul>
        </nav>
        <ul class="nav navbar-nav navbar-right">
<!--
          <li><a href="#" ng-show="loggedIn()" ng-click="logout()">Logout</a></li>
          <li class="dropdown" dropdown><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
-->
          <li class="dropdown" dropdown>
            <a role="button" class="dropdown-toggle glyphicon glyphicon-cog" dropdown-toggle>
              <!--<b class="caret"></b>-->
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="#login" ng-show="!loggedIn()" ng-click="openServerModal()">Server</a></li>
              <li><a ng-show="loggedIn()" ng-click="openProfileModal()">Profile</a></li>
              <li><a href="#" ng-show="loggedIn()" ng-click="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>
</nav>

