<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div ng-controller="UserCtrl">
    <style>
      .ng-table-pager {
        display: none;
      }
    </style>

    <form class="importUserForm" name="importUserForm" role="form">
      <div class="col-md-12">
        <h3>Import Users</h3>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" ng-maxlength="0">{{alert.msg}}</alert>
        <input type="text" name="fileSelected" required hidden/>

        <div class="input-group">
          <ng-csv-import content="csv.content"
                         header="csv.header"
                         separator="csv.separator"
                         result="csv.result">
            <!--
                        <div class="input-group">
                          <span class="input-group-addon">Separator</span>
                          <input type="text" ng-change="changeSeparator" ng-model="separator" class="form-control">
                        </div>
            -->
          </ng-csv-import>
        </div>
        <br>

        <!--
              <div class="col-md-12">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">CSV Input</h3>
                  </div>
                  <div class="panel-body">
                    <div ng-if="csv.content" class="block left">
                      <div class="content"><pre>{{ csv.content }}</pre></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">Parsed JSON</h3>
                  </div>
                  <div class="panel-body">
                    <div class="block right" ng-if="csv.result">
                      <div class="content"><pre>{{ csv.result }}</pre></div>
                      <div class="content" hljs source="toPrettyJSON(csv.result, 12)"></div>
                    </div>
                  </div>
                </div>
              </div>
        -->
        <div class="col-md-12" ng-if="csv.content && importUserForm.$valid">
          <h4>File <span class="label label-default">{{ csv.result.filename }}</span></h4>
          <h4>Total Records <span class="label label-default">{{ csv.result.length }}</span></h4><br>
          <h4>Click OK to import</h4>
          <br>
        </div>
        <div class="col-md-12" ng-if="!importUserForm.$valid">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Required Parameters</h3>
            </div>
            <div class="panel-body">
              <div class="block left">
                <table ng-table="reqdParms" class="table table-hover">
                  <tr ng-repeat="data in $data">
                    <td data-title="'Parameter'" sortable="'username'"><b>{{ data.name }}</b></td>
                    <td data-title="'Description'" sortable="'name'">{{ data.desc }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12" ng-if="!importUserForm.$valid">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Optional Parameters</h3>
            </div>
            <div class="panel-body">
              <div class="block left">
                <table ng-table="optlParms" class="table table-hover">
                  <tr ng-repeat="data in $data">
                    <td data-title="'Parameter'" sortable="'username'"><b>{{ data.name }}</b></td>
                    <td data-title="'Description'" sortable="'name'">{{ data.desc }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <button class="btn btn-primary" ng-disabled="!importUserForm.$valid" ng-click="okImport()">OK</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
    <!--
    </div>
    -->
  </div>
