<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div ng-controller="UserCtrl">
    <h4>Users</h4>
    <table ng-table="tableParams" class="table table-hover" >
      <tr ng-repeat="user in $data">
        <td data-title="'Username'" sortable="'username'"><b>{{ user.username }}</b></td>
        <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'test' }">{{ user.name }}</td>
        <td data-title="'email'" sortable="'email'">{{ user.email }}</td>
        <td data-title="'Roles'" sortable="'roles'">{{ user.roles }}</td>
        <td data-title="'Actions'">
<!--          <abbr title="Delete"><div class="glyphicon glyphicon-remove-circle" ng-click="deleteUser('{{ user.username }}')"></div></abbr>-->
          <a href="" class="btn btn-default btn-xs"  ng-click="deleteUser('{{ user.username }}')">Delete</a>
          <a href="#/user/{{ user.username }}" class="btn btn-default btn-xs">Edit</a>
<!--
          <a href="" class="btn btn-default btn-xs" ng-click="editUser('{{ user.username }}')">Edit</a>
-->
        </td>
      </tr>
    </table>
  </div>

</div>
