<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <p>This is the user view. user: </p>

  <div class="alert alert-info" role="alert">
    <strong>Hash </strong> <input type="text" ng-model="hashInBase64" style="width: 400px; "></input>
  </div>

</div>
