<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="jumbotron text-center" ng-controller="NavbarCtrl">
    <h1>TeeSheet</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Welcome to TeeSheet.
    </p>
    <div ng-show="!loggedIn()"><p><a class="btn btn-lg btn-success" href="#login">Login</a></p></div>
    <div ng-show="hasRole('default')"><p><a class="btn btn-lg btn-success" ng-href="#" disabled>You are logged in!</a></p></div>
    <div ng-show="hasRole('admin')"><p><a class="btn btn-lg btn-success" ng-href="#" disabled>You are Organization Admin!</a></p></div>
    <div ng-show="hasRole('sysadmin')"><p><a class="btn btn-lg btn-success" ng-href="#" disabled>You are SysAdmin!</a></p></div>
  </div>

  <hr>

  <div class="footer">
    <p>From <a href="https://twitter.com/nworksGreg">@nworksGreg</a></p>
  </div>

</div>

