<div class="modal-header">
  <h2 class="modal-title">Delete {{ app.name }}?</h2>
</div>
<div class="modal-body">
  <button class="btn btn-primary" ng-click="ok(app, apps)">Yes, Delete!</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
