<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div ng-controller="AppCtrl">

    <form class="createAppForm" name="createAppForm" role="form">
      <h3>Create App</h3>

      <!--
      <div class="modal-header">
        <h2 class="modal-title">Create App</h2>
      </div>
      <div class="modal-body">
      -->
      <div class="input-group">
        <span class="input-group-addon">Organization</span>
        <ui-select required ng-model="org.selected" theme="bootstrap" ng-disabled="disabled">
          <ui-select-match placeholder="Select or search an organization in the list...">{{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="org in orgs">
            <span ng-bind-html="org.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <!--
            <br>
            <select ng-model="orgSelected" ng-options="org.name for org in orgs"></select>
      -->
      <br>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">App Name</span>
        <input type="text" required id="name" required class="form-control" ng-model="name"
               placeholder="Application Name" autofocus>
      </div>
      <br>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Admin User</h3>
      </div>

        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon">Username</span>
            <input type="text" required id="adminUsername" required class="form-control" ng-model="adminUsername"
                   placeholder="Username" autofocus>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <input type="text" required id="adminName" class="form-control" ng-model="adminName"
                   placeholder="Admin Name (optional)" autofocus>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">email</span>
            <input type="text" required id="adminEmail" required class="form-control" ng-model="adminEmail"
                   placeholder="email" autofocus>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type="password" required id="adminPassword" required class="form-control" ng-model="adminPassword"
                   placeholder="password" autofocus>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type="password" required id="adminPasswordRepeat" required class="form-control" ng-model="adminPasswordRepeat"
                   placeholder="password (repeat)" autofocus>
          </div>
        </div>
      </div>

      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <button class="btn btn-primary" ng-disabled="!createAppForm.$valid" ng-click="createApp()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </form>
  </div>
  <!--
  </div>
  -->
</div>
