<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div ng-controller="AppCtrl">
    <h4>Organizations</h4>
<!--
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Organization</th>
        <th>Admin Username</th>
        <th>Name</th>
        <th>email</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="org in orgs">
        <td><b>{{ org.name }}</b></td>
        <td>{{ org.username }}</td>
        <td>{{ org.fullname }}</td>
        <td>{{ org.email }}</td>
      </tr>
      </tbody>
    </table>
-->

    <table ng-table="tableParams" class="table table-hover" >
      <tr ng-repeat="org in $data">
        <td data-title="'Organization'" sortable="'name'"><b>{{ org.name }}</b></td>
        <td data-title="'Username'" sortable="'username'">{{ org.username }}</td>
        <td data-title="'Name'" sortable="'fullname'">{{ org.fullname }}</td>
        <td data-title="'email'" sortable="'email'">{{ org.email }}</td>
        <td data-title="'Actions'">
          <a ng-click="viewOrg('{{ org.name }}')" ng-model="orgSelected"  class="btn btn-default btn-xs">View</a>
<!--          <a href="#/org/{{ org.name }}" class="btn btn-default btn-xs">Edit</a>-->
        </td>
      </tr>
    </table>
  </div>

</div>
