<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div ng-controller="AppCtrl">
    <h4>Applications</h4>
    <table ng-table="appTableParams" class="table table-hover" >
      <tr ng-repeat="app in $data">
        <td data-title="'Application'" sortable="'name'"><b>{{ app.name }}</b></td>
        </td>
      </tr>
    </table>
    <h4>Admin Users</h4>
    <table ng-table="userTableParams" class="table table-hover" >
      <tr ng-repeat="user in $data">
        <td data-title="'Username'" sortable="'username'"><b>{{ user.username }}</b></td>
        <td data-title="'Name'" sortable="'name'">{{ user.name }}</td>
        <td data-title="'email'" sortable="'email'">{{ user.email }}</td>
        <td data-title="'Actions'">
          <a href="#/org/{{ app.name }}" class="btn btn-default btn-xs">View</a>
          <!--          <a href="#/org/{{ org.name }}" class="btn btn-default btn-xs">Edit</a>-->
        </td>
      </tr>
    </table>
  </div>
</div>
