<div class="messages">
  <small class="error" ng-message="required" class="alert-box">Required</small>
  <small class="error" ng-message="minlength" class="alert-box">Too short</small>
  <small class="error" ng-message="maxlength" class="alert-box">Too long</small>
  <small class="error" ng-message="email" class="alert-box">Invalid email address</small>
  <small class="error" ng-message="compareTo" class="alert-box">Must match the previous entry</small>
</div>
