<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <form class="loginForm" name="loginForm" role="form">
    <h2 class="loginForm-heading">Please sign in</h2>

    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" required id="username" class="form-control" ng-model="username" placeholder="Login id"
             required autofocus>
      <small ng-show="!loginForm.$pristine" ng-messages="loginForm.username.$error"
             ng-messages-include="messages.html"></small>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" ng-model="password" placeholder="Password"
             required>
      <small ng-show="!loginForm.$pristine" ng-messages="loginForm.password.$error"
             ng-messages-include="messages.html"></small>
    </div>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="error">{{errorMsg}}</div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-disabled="!loginForm.$valid" ng-click="login(username)" type="submit">Sign in</button>
  </form>
</div>
