<div class="modal-header">
  <h2 class="modal-title">User Profile</h2>
</div>
<form ng-controller="NavbarCtrl">
<div class="modal-body">
  <ul>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Name</span>
      <input type="text" required disabled="disabled" id="name" class="form-control" ng-model="user.name"
             placeholder="Name" required autofocus>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Username</span>
      <input type="text" disabled="disabled" id="username" class="form-control" ng-model="user.username" placeholder="Username" required
             autofocus>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">password</span>
      <input type="password" disabled="disabled" id="password" class="form-control" ng-model="user.password" placeholder="email"
             autofocus>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">email</span>
      <input type="text" disabled="disabled" id="email" class="form-control" ng-model="user.email" placeholder="email"
             autofocus>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Roles</span>
      <input type="text" disabled="disabled" id="roles" class="form-control" ng-model="user.roles" placeholder="Roles"
             autofocus>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Organization</span>
      <input type="text" disabled="disabled" id="organization" class="form-control" ng-model="currentServer.organization" placeholder="Application" required autofocus>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Application</span>
      <input type="text" required disabled="disabled" id="application" class="form-control" ng-model="currentServer.application" placeholder="Application" required autofocus>
    </div>
  </ul>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-controller="NavbarCtrl" ng-click="okProfile()">OK</button>
<!--    <button class="btn btn-warning" ng-controller="NavbarCtrl" ng-click="cancelProfile()">Cancel</button>-->
  </div>
</div>
</form>
