<div class="modal-header">
  <h2 class="modal-title">Server</h2>
</div>
<form ng-controller="NavbarCtrl">

  <div class="modal-body">
    <ul>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Description</span>
        <input type="text" required id="description" class="form-control" ng-model="currentServer.description"
               placeholder="Server description" required autofocus>
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Server URL</span>
        <input type="text" required id="url" class="form-control" ng-model="currentServer.url" placeholder="Server URL"
               required
               autofocus>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">Authentication Type</span>
        <label class="btn btn-primary" ng-model="currentServer.authType" btn-radio="'user'">User</label>
        <label class="btn btn-primary" ng-model="currentServer.authType" btn-radio="'app'" ng-disabled="true">App</label>
        <label class="btn btn-primary" ng-model="currentServer.authType" btn-radio="'org'" ng-disabled="true">Org</label>
        <label class="btn btn-primary" ng-model="currentServer.authType" btn-radio="'admin'">Admin</label>
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Organization</span>
        <input type="text" required id="organization" class="form-control" ng-model="currentServer.organization"
               placeholder="Organization" required
               autofocus>
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Application</span>
        <input type="text" required id="application" class="form-control" ng-model="currentServer.application"
               placeholder="Application" required autofocus>
      </div>
    </ul>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-controller="NavbarCtrl" ng-click="okServer()">OK</button>
      <button class="btn btn-warning" ng-controller="NavbarCtrl" ng-click="defaultsServer()">Reset</button>
      <button class="btn btn-warning" ng-controller="NavbarCtrl" ng-click="cancelServer()">Cancel</button>
    </div>
  </div>
</form>
