<div class="modal-header">
  <h2 class="modal-title">Password</h2>
</div>
<form>

  <div class="modal-body">
    <ul>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Password</span>
        <input type="password" id="password" class="form-control" ng-model="user.password"
               placeholder="password" autofocus>
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Password</span>
        <input type="password" id="passwordRepeat" class="form-control"
               ng-model="user.passwordRepeat"
               placeholder="password (repeat)" autofocus>
      </div>
    </ul>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>
