<h4><div ng-show="$state.current.name === 'users.edit'">Edit User</div><div ng-show="$state.current.name === 'users.view'">Show User</div></h4>
<!--State: {{ $state.current.name }}-->
<form class="createUserForm" name="createUserForm" role="form">
      <div class="col-md-12">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="input-group">
          <span class="input-group-addon">Username</span>
          <input type="text" required id="adminUsername" class="form-control" ng-model="user.username"
                 placeholder="Username" autofocus ng-disabled="$state.current.name !== 'users.create'">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Name</span>
          <input type="text" id="adminName" class="form-control" ng-model="user.name"
                 placeholder="Name (optional)" autofocus ng-disabled="$state.current.name === 'users.view'">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">email</span>
          <input type="text" required id="adminEmail" class="form-control" ng-model="user.email"
                 placeholder="email" autofocus ng-disabled="$state.current.name === 'users.view'">
        </div>
        <br>

        <div ng-show="$state.current.name === 'users.create'">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type="password" ng-required="$state.current.name === 'users.create'" id="password" class="form-control" ng-model="user.password"
                   placeholder="password" autofocus>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type="password" ng-required="$state.current.name === 'users.create'" id="passwordRepeat" class="form-control"
                   ng-model="user.passwordRepeat"
                   placeholder="password (repeat)" autofocus>
          </div>
          <br>
      </div>
      </div>

      <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="..." ng-model="user.administrator" ng-disabled="$state.current.name === 'users.view'">
            </span><div class="form-control">Administrator</div>
        </div>
        <br>
      </div>
      <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="..." checked="checked" ng-model="user.activated" ng-disabled="$state.current.name === 'users.view'">
            </span><div class="form-control">Account Active</div>
        </div>
        <!-- /input-group -->
        <br>
      </div>
      <br>
      <!--
            </div>
      -->

      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Member Info</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon">Member Number</span>
              <input type="text" id="memberNumber" class="form-control" ng-model="user.memberNumber"
                     placeholder="Member Number" autofocus ng-disabled="$state.current.name === 'users.view'">
            </div>
            <br>

            <div class="input-group">
              <span class="input-group-addon">Membership Type</span>
              <ui-select ng-model="membershipType.selected" theme="bootstrap" ng-disabled="$state.current.name === 'users.view'">
                <ui-select-match placeholder="Membership Type...">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="membershipType in membershipTypes">
                  <span ng-bind-html="membershipType.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <br>

            <div class="input-group">
              <span class="input-group-addon">Gender</span>
              <ui-select ng-model="gender.selected" theme="bootstrap" ng-disabled="$state.current.name === 'users.view'">
                <ui-select-match>{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="gender in genders">
                  <span ng-bind-html="gender.name"></span>
                </ui-select-choices>
              </ui-select>
            </div>

          </div>
        </div>
      </div>
<!--      {{ user.genders }}-->

      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Golf Info</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon">GHIN Number</span>
              <input type="text" id="ghinNumber" class="form-control" ng-model="user.ghinNumber"
                     placeholder="GHIN Number" autofocus ng-disabled="$state.current.name === 'users.view'">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Locker Number</span>
              <input type="text" id="lockerNumber" class="form-control" ng-model="user.lockerNumber"
                     placeholder="Locker Number" autofocus ng-disabled="$state.current.name === 'users.view'">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Bag Location</span>
              <input type="text" id="bagLocation" class="form-control" ng-model="user.bagLocation"
                     placeholder="Bag Location" autofocus ng-disabled="$state.current.name === 'users.view'">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Notify On</h3>
          </div>
          <div class="panel-body">

            <div class="col-md-6">
              <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="..." ng-model="user.notifyOnNewBooking" ng-disabled="$state.current.name === 'users.view'">
            </span><div class="form-control">Signup</div>
              </div>
              <br>
            </div>
            <div class="col-md-6">
              <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="..." checked="checked" ng-model="user.notifyOnCancellation" ng-disabled="$state.current.name === 'users.view'">
            </span><div class="form-control">Cancellation</div>
              </div>
              <!-- /input-group -->
              <br>
            </div>
            <br>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <button class="btn btn-primary" ng-disabled="!createUserForm.$valid" ng-click="okUser()">OK</button>
        <button ng-show="$state.current.name !== 'users.view'" class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </form>
