<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

<!--
  <h4 ng-class="{ active: $state.includes('users.list') }">All Users</h4>
-->
  <div ui-view></div>

</div>
